.accordion-item {
    margin-bottom: 15px;
    border-radius: 0;
    border: none;

}

button.accordion-button:not(.collapsed) {
    background-color: #FF8DC7;
    color: #fff;
    font-weight: 600;
    box-shadow: none;
}

.accordion-body {
    font-size: 15px;
    line-height: 25px;
    color: #000;
}

button.accordion-button:focus {
    outline: 0;
    box-shadow: none;
    background-color: #FF8DC7;
    color: #fff;
    font-weight: 600;
}

button.accordion-button {
    background-color: #FF8DC7;
    color: #fff;
    font-weight: 600;
}

.blog p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #000;
}