.navbar {
    background: #fff;
    /* background: #FFACC7; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 999;
}

.logo {
    height: 50px;
}

.main-nav a {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #000;
    display: inline-block;
    text-decoration: none;
    margin-left: 30px;
    position: relative;
    transition: .4s;

}

.main-nav .active {
    color: #FF8DC7;
}

.main-nav .active::after {
    width: 100%;
    height: 3px;
    background: #FF8DC7;
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
}

.main-nav a:hover {
    color: #FF8DC7;
}

.authentication-btn {
    margin-left: 40px;
}



/* =====responsive for mobile device====== */

@media only screen and (max-width: 575.98px) {
    .logo {
        height: 35px;
    }
    .main-nav {
        padding: 20px 0;
    }
    .main-nav a {
        margin-top: 18px;
        margin-left: 0;
    }
}
@media only screen and (min-width: 576px) and (max-width: 991.98px) {

    .main-nav {
        padding: 20px 0;
    }
    .main-nav a {
        margin-top: 18px;
        margin-left: 0;
    }
}