.review {
    display: flex;

    

}

.profile .profile-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.review-text {
    margin-left: 20px;
    padding: 10px;
    width: 500px;
}

.review-text-header {
    display: flex;
    justify-content: space-between;
}

.review-text-header .name h3 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #000;
    margin-bottom: 0;
}

.review-text-header .date .review-date {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #777;
}

.review-details .review-pra {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #000;
}

.divider2{
    margin-top: 20px;
    background: #f1f1f1;
    height: 2px;
    margin-bottom: 20px;
}