.contact {
    background: url(../../../assets/contact.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
    text-align: center;
}

.contact-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 38px;
    color: #fff;
}

.contact-paragraph {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    
}
.contact-btn{
    margin-top: 15px ;
    display: inline-block;
}

/* responsive start */

@media only screen and (max-width: 575.98px) {
    .insta-gallery {
        margin-bottom: 15px;
    }
}