/*===============typography css start===============  */
a,a:hover,a:focus{
  text-decoration: none !important;
}

.nav-items {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #323232;
  display: inline-block;
  text-decoration: none;
  margin-left: 30px;
  position: relative;

}
/* 
.active {
  color: #D4B0A5;
}

.active::after {
  width: 30px;
  height: 3px;
  background: #D4B0A5;
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
} */


.heading-2 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #323232;
}

.footer-bottom{
   font-family: 'Open Sans';
   font-size: 14px;
   font-weight: 400;
   color: #939580;
}
/*===============typography css end=================  */




/* 
main heading: #939580;
heading : #323232 ;
button : c79889;
light button : #D4B0A5 ;
paragraph: #848892;
*/
