.service-details {
    margin-top: 60px;
}

.service-de-image {
    width: 100%;
}

.service-de-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-de-title {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: #000;
    margin-top: 20px;
}

.service-d-pra {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #777;
}

.service-de-price {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    color: #000;
}

.service-de-ratings {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #000;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.service-de-ratings svg{
    font-size: 20px;
    color: gold;
    margin-left: 5px;
}

.divider{
    margin-top: 30px;
    background: #f1f1f1;
    height: 2px;
    margin-bottom: 30px;
}
.service-de-inner{
    padding: 20px;
}